<h1>Listing saved_games</h1>
<%= link_to 'New game', new_saved_game_path %>
<table>
  <thead>
    <tr>
      <th>id</th>
      <th>status</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @saved_games.each do |saved_game| %>
      <tr>
        <td><%= saved_game.id %></td>
        <td><%= saved_game.status %></td>
        <td><%= link_to 'Show', saved_game %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


